* {
    margin: 0;
    padding: 0;
	color: white;
    box-sizing: border-box;
}

a {    
    text-decoration: none;
}

header {
  height: 150px;  
  background-color: #FF4945;
}

.main {
  height: 300px;
  background-color: #FFA931;
}

.sidebar {
  height: 300px;
  background-color: #9B0579;
}

footer {
  height: 100px;
  background-color: #00778F;
}

